.ng-invalid {
	border: 1px solid red;
}

.dice {
	position: fixed; 
	bottom: 0; 
	left: 0;
	padding: 20px; 
	background-color: white;
	border: 1px solid black;
	width: 100%;
	transition: .5s left ease-in-out;
}

.hide-dice {
	left: 90%;
}

.critical-roll {
	color: red;
}

label {
	color: #666;
	width: 100px;
	display: inline-block;
}

.login-form {
	position: absolute;
	right: 0;
}

.p10-0 {
	padding: 10px 0;
}

.pt15 {
	padding-top: 15px;
}

.pt30 {
	padding-top: 30px;
}

.enemy {
	color: red;
}