accounts-ui {
	position: absolute;
    right: 0;
    width: 290px;
    top: 0;
    height: 300px;
    overflow: hidden;
    padding: 30px;
    background-color: white;
}
.ng-invalid {
	border: 1px solid red;
}

.dice-helper {
	transition: .5s left ease-in-out;
}

.hide-dice {
	left: 90%;
}

.critical-roll {
	color: red;
}

.login-form {
	position: absolute;
	right: 0;
}

.enemy {
	color: red;
}