<h1>Combat Display</h1>
<hr>
<section class="p20-0 m20-0" *ngIf="battle">

	<battle-form 
		[battle]="battle"
		(nameUpdated)="updateName($event)"
		(deleteBattle)="deleteBattle()"></battle-form>

	<combat-initializer
		[combatants]="battle.combatants"
		(combatantsAdded)="addCombatants($event)"
		(removeCombatant)="removeCombatant($event)"
		(startTriggered)="startBattle()"></combat-initializer>

</section>
	
<div *ngIf="battle">
<hr *ngIf="battle.combatPhase !== -1">

<section class="p20-0 m20-0" *ngIf="battle.combatPhase !== -1">
	<h2>Combat Phases</h2>
	<span [class.c-gray]="battle.combatPhase !== 0">Enter Actions</span>
	<button [class.c-gray]="battle.combatPhase !== 1" 
		(click)="rollInitiative()">Roll Initiative</button>
	<button [class.c-gray]="battle.combatPhase !== 2" 
		(click)="resolveRound()">Turn Resolved</button>

	<h2>Combatants</h2>
	<ol *ngIf="battle">
		<li *ngFor="#combatant of battle.combatants"
			[class.enemy]="combatant.type === 'enemy'"
			class="mb20 p10-0 bb1-s-black">
			
			<h4>{{ combatant.name }}</h4>

			<combat-action-input 
				*ngIf="battle.combatPhase === 0"
				(actionSubmitted)="submitAction($event, combatant)"
				(actionUnsubmitted)="unsubmitAction(combatant)"></combat-action-input>

			<div *ngIf="battle.combatPhase !== 0">
				<label>Action:</label>
				<div class="p10-0">
					{{ combatant.action }}
				</div>
			</div>

			<div>
				initiative: {{ combatant.initiative }} | 
				
				Bonus: 
				<input type="number" min="-100" max="100" 
					[(ngModel)]="combatant.bonus">
				
				Rounds Occupied: 
				<input type="number" min="0" max="100" 
					[(ngModel)]="combatant.roundsOccupied">

				<button (click)="removeCombatant(combatant)">remove</button>
			</div>
		</li>
	</ol>

</section>
</div>