<div class="dice" 
	[class.hide-dice]="diceHidden">
	<button (click)="toggleDice();">
		<span *ng-if="diceHidden">Show</span>
		<span *ng-if="!diceHidden">Hide</span>
	</button>
	<button (click)="clearRolls()">Clear</button>
	<button [disabled]="disabled" (click)="simpleRoll(2)">d2</button>
	<button [disabled]="disabled" (click)="simpleRoll(4)">d4</button>
	<button [disabled]="disabled" (click)="simpleRoll(6)">d6</button>
	<button [disabled]="disabled" (click)="simpleRoll(8)">d8</button>
	<button [disabled]="disabled" (click)="simpleRoll(10)">d10</button>
	<button [disabled]="disabled" (click)="simpleRoll(12)">d12</button>
	<button [disabled]="disabled" (click)="simpleRoll(20)">d20</button>
	<button [disabled]="disabled" (click)="simpleRoll(100)">d100</button>
	Bonus: <input type="number" class="js-bonus-to-roll" value="0" >
	<br>
	Current Roll: {{currentRoll}} 
	<br>
	Last 5 Rolls: 
	<span *ng-for="#roll of lastRolls; #last = last" [class.critical-roll]="roll.critical">
		{{roll.result + roll.bonus}} (d{{roll.sides}} + {{roll.bonus}})<span *ng-if="!last">,</span> 
	</span>
</div>