<nav class="bgc-white h70 posr p0-50 heading5">
	<div class="vertical-align" *ngIf="currentUser">
		<a class="tdn" [routerLink]="['/HomePage']">Home</a> |
		<a class="tdn" [routerLink]="['/CampaignList']">Campaigns</a> |
		<a class="tdn" [routerLink]="['/ContentCreator']">Content Creator</a> |
		<a class="tdn" [routerLink]="['/CharacterList']">All Characters</a>
	</div>
</nav>

<accounts-modal class="posa r0 t0 w300 p30"></accounts-modal>

<div class="sub-menu bgc-black c-white posr p0-50 heading5 h50 add-bottom-shadow">
	<span *ngIf="currentUser && campaign" class="vertical-align dib">
		
		Playing: {{campaign.name}}
		<button class="c-white bd1-s-white" 
			(click)="unselectCampaign()">&times;</button>
		
		<span *ngIf="character">
			as 
			<a class="tdn" 
				[routerLink]="['/CharacterDetail', {characterId: character._id}]">
					{{ character.firstName }}
			</a>
			<button class="c-white bd1-s-white" 
				(click)="unselectCharacter()">&times;</button>
		</span>
		>
		<a class="tdn" 
			[routerLink]="['/CharacterList', {campaignId: campaign._id}]">
				Characters
		</a> |
		<a class="tdn" 
			[routerLink]="['/BattleList']">
				Battle List
		</a>
	</span>
	<span *ngIf="!campaign" class="vertical-align dib">
		No Campaign Selected.
	</span>
</div>