<h1><span *ngIf="!campaignId">All</span> Character List</h1>
<hr>
<section class="p20-0 m20-0">
	<h2>PCs</h2>
	<div *ngFor="#character of pcs" class="p10-0">
		<a [routerLink]="['/CharacterDetail', {characterId: character._id}]">
			{{character.firstName}} {{character.middleName}} {{character.lastName}}
		</a>
		<button *ngIf="campaignId && currentUser._id === character.userId"
			(click)="selectCharacter(character)">Select</button>
	</div>
</section>
<hr>
<section class="p20-0 m20-0">
	<h2>NPCs</h2>
	<div *ngFor="#character of npcs" class="p10-0">
		<a [routerLink]="['/CharacterDetail', {characterId: character._id}]">
			{{character.firstName}} {{character.middleName}} {{character.lastName}}
		</a>
	</div>
	<a [routerLink]="['/CharacterForm', {campaignId: campaignId}]"
		*ngIf="campaignId">
		<button>+</button>
	</a>
</section>