<div class="dice-helper p20 posf b0 l0 bgc-white bd1-s-black max-width" 
	[class.hide-dice]="diceHidden">
	<button class="p10-0 pl20 pr20" (click)="toggleDice();">
		<span *ng-if="diceHidden">Show</span>
		<span *ng-if="!diceHidden">Hide</span>
	</button>
	<button class="p10-0 pl20 pr20" (click)="clearRolls()">Clear</button>
	<button *ng-for="#die of dice"
		class="p10-0 pl20 pr20 mr5"
		[disabled]="disabled"
		(click)="roll(die)">
		d{{die}}
	</button>
	Bonus: <input type="number" class="js-bonus-to-roll" value="0" >
	<div class="p10-0">
	Current Roll: {{currentRoll}} 
	</div>
	<div *ng-if="currentUser && campaign">
		<div class="p10-0" *ng-if="rollPublic">
			Last 5 Rolls: 
			<span *ng-for="#roll of lastRolls; #last = last" 
				[class.critical-roll]="roll.critical">
				{{roll.result + roll.bonus}} (d{{roll.sides}} + {{roll.bonus}})<span *ng-if="!last">,</span> 
			</span>
		</div>
		<div class="p20-0">
			<button class="p10-0 pl20 pr20" (click)="togglePublic()">
				<span *ng-if="rollPublic">Private</span>
				<span *ng-if="!rollPublic">Public</span>
			</button>
		</div>
	</div>
</div>