<div class="dice-helper p20 posf b0 l0 bgc-white add-shadow max-width" 
	[class.hide-dice]="diceHidden">
	<button class="p10-0 pl20 pr20" (click)="toggleDice();">
		<span *ngIf="diceHidden">Show</span>
		<span *ngIf="!diceHidden">Hide</span>
	</button>
	<button class="p10-0 pl20 pr20" (click)="clearRolls()">Clear</button>
	<button *ngFor="#die of dice"
		class="p10-0 pl20 pr20 mr5"
		[disabled]="disabled"
		(click)="roll(die)">
		d{{die}}
	</button>
	Bonus: <input type="number" [(ngModel)]="rollBonus" value="0" >
	<div class="p10-0">
	Current Roll: {{currentRoll}} 
	</div>
	<div *ngIf="currentUser && campaign">
		<div class="p10-0" *ngIf="rollPublic">
			Last 5 Rolls: 
			<span *ngFor="#roll of lastRolls; #last = last" 
				[class.critical-roll]="roll.critical">
				{{roll.result + roll.bonus}} (d{{roll.sides}} + {{roll.bonus}})<span *ngIf="!last">,</span> 
			</span>
		</div>
		<div class="p20-0">
			<button class="p10-0 pl20 pr20" (click)="togglePublic()">
				<span *ngIf="rollPublic">Private</span>
				<span *ngIf="!rollPublic">Public</span>
			</button>
		</div>
	</div>
</div>