*, *:before, *:after {
	box-sizing: border-box;
}

button {
  border: none;
  background: inherit;
  cursor: pointer;
}

textarea, 
input { 
	outline: none; 
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: white;
	opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: white;
	opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: white;
}