html {
	//set 10px baseline
	// the advantage of this is ems are easier to use 1.5em = 15px
	font-size: 10px;
}
body {
	font-family: $font-family-text;
	font-size: $font-size-base;
	line-height: 1.2; // http://practicaltypography.com/line-spacing.html
}

//modular scale  find new scale on http://www.modularscale.com
	//base: 10px
	//ratios: 1.5
h1, .heading1 {
	font-size: 3.375em;
	font-family: $font-family-heading;
}

h2, .heading2 {
	font-size: 2.25em;
	font-family: $font-family-heading;
}

h3, .heading3 {
	font-size: 1.5em;
	font-family: $font-family-heading;
}

h4, .heading4 {
	font-size: 1em;
	font-family: $font-family-heading;
}

h5, .heading5 {
	font-size: .667em;
	font-family: $font-family-heading;
}

h6, .heading6 {
	font-size: .444em;
	font-family: $font-family-heading;
}

a {
	color: inherit;
	transition: color .3s;
}