<div class="p20-0">
	<h4>Sort</h4>
	<button class="p5-0 w100 tac" (click)="sortSpellAZ()">Alphabet</button> 
	<button class="p5-0 w100 tac" (click)="sortSpellLevel()">Spell Level</button> 
	<button class="p5-0 w100 tac" (click)="sortSpellSchool()">School</button>
</div>
<div class="p20-0">
	<h4>Filter</h4>
	<div class="p10-0" *ng-if="spellFilterAZ || spellFilterLevel >= 0 || spellFilterSchool">
		Filtering on:
		<span class="p5 bgc-lightgray" 
			*ng-if="spellFilterAZ">
			Letter ({{ spellFilterAZ }})
			<span class="ml10 curp p5 c-white bgc-black" (click)="filterSpellAZ('')">&times;</span>
		</span>
		<span class="p5 bgc-lightgray" 
			*ng-if="spellFilterLevel >= 0">
			Level {{ spellFilterLevel }}
			<span class="ml10 curp p5 c-white bgc-black" (click)="filterSpellLevel(-1)">&times;</span>
		</span> 
		<span class="p5 bgc-lightgray" 
			*ng-if="spellFilterSchool">
			School ({{ spellFilterSchool }})
			<span class="ml10 curp p5 c-white bgc-black" (click)="filterSpellSchool('')">&times;</span>
		</span>
	</div>

	<h5>Level</h5>
	<div class="p5-0">
		<button class="p5-0 w100 tac" (click)="filterSpellLevel(-1)">clear</button>
	</div>
	<div class="p5-0">
		<button class="p5-0 w50 tac" (click)="filterSpellLevel(0)">0</button>
		<button class="p5-0 w50 tac" (click)="filterSpellLevel(1)">1</button>
		<button class="p5-0 w50 tac" (click)="filterSpellLevel(2)">2</button>
		<button class="p5-0 w50 tac" (click)="filterSpellLevel(3)">3</button>
		<button class="p5-0 w50 tac" (click)="filterSpellLevel(4)">4</button>
	</div>
	<div class="p5-0">
		<button class="p5-0 w50 tac" (click)="filterSpellLevel(5)">5</button>
		<button class="p5-0 w50 tac" (click)="filterSpellLevel(6)">6</button>
		<button class="p5-0 w50 tac" (click)="filterSpellLevel(7)">7</button>
		<button class="p5-0 w50 tac" (click)="filterSpellLevel(8)">8</button>
		<button class="p5-0 w50 tac" (click)="filterSpellLevel(9)">9</button>
	</div>
</div>
<div class="p20-0">
	<h5>Name</h5>

	<div class="p5-0">
		<button class="p5-0 w100 tac" (click)="filterSpellAZ('')">clear</button>
	</div>
	
	<div class="p5-0">
		<button class="p5-0 w50 tac" (click)="filterSpellAZ('a')">a</button>
		<button class="p5-0 w50 tac" (click)="filterSpellAZ('b')">b</button>
		<button class="p5-0 w50 tac" (click)="filterSpellAZ('c')">c</button>
		<button class="p5-0 w50 tac" (click)="filterSpellAZ('d')">d</button>
		<button class="p5-0 w50 tac" (click)="filterSpellAZ('e')">e</button>
		<button class="p5-0 w50 tac" (click)="filterSpellAZ('f')">f</button>
		<button class="p5-0 w50 tac" (click)="filterSpellAZ('g')">g</button>
		<button class="p5-0 w50 tac" (click)="filterSpellAZ('h')">h</button>
		<button class="p5-0 w50 tac" (click)="filterSpellAZ('i')">i</button>
		<button class="p5-0 w50 tac" (click)="filterSpellAZ('j')">j</button>
	</div>
	
	<div class="p5-0">
		<button class="p5-0 w50 tac" (click)="filterSpellAZ('k')">k</button>
		<button class="p5-0 w50 tac" (click)="filterSpellAZ('l')">l</button>
		<button class="p5-0 w50 tac" (click)="filterSpellAZ('m')">m</button>
		<button class="p5-0 w50 tac" (click)="filterSpellAZ('n')">n</button>
		<button class="p5-0 w50 tac" (click)="filterSpellAZ('o')">o</button>
		<button class="p5-0 w50 tac" (click)="filterSpellAZ('p')">p</button>
		<button class="p5-0 w50 tac" (click)="filterSpellAZ('q')">q</button>
		<button class="p5-0 w50 tac" (click)="filterSpellAZ('r')">r</button>
		<button class="p5-0 w50 tac" (click)="filterSpellAZ('s')">s</button>
		<button class="p5-0 w50 tac" (click)="filterSpellAZ('t')">t</button>
	</div>
	
	<div class="p5-0">
		<button class="p5-0 w50 tac" (click)="filterSpellAZ('u')">u</button>
		<button class="p5-0 w50 tac" (click)="filterSpellAZ('v')">v</button>
		<button class="p5-0 w50 tac" (click)="filterSpellAZ('w')">w</button>
		<button class="p5-0 w50 tac" (click)="filterSpellAZ('x')">x</button>
		<button class="p5-0 w50 tac" (click)="filterSpellAZ('y')">y</button>
		<button class="p5-0 w50 tac" (click)="filterSpellAZ('z')">z</button>
	</div>
</div>
<div class="p20-0">
	<h5>School</h5>

	<div class="p5-0">
		<button class="p5-0 w100 tac" (click)="filterSpellSchool('')">clear</button>
	</div>
	
	<div class="p5-0">
		<button class="p5-0 w150 tac" 
			(click)="filterSpellSchool('Abjuration')">Abjuration</button>
		<button class="p5-0 w150 tac" 
			(click)="filterSpellSchool('Conjuration')">Conjuration</button>
		<button class="p5-0 w150 tac" 
			(click)="filterSpellSchool('Divination')">Divination</button>
	</div>
	
	<div class="p5-0">
		<button class="p5-0 w150 tac" 
			(click)="filterSpellSchool('Enchantment')">Enchantment</button>
		<button class="p5-0 w150 tac" 
			(click)="filterSpellSchool('Evocation')">Evocation</button>
		<button class="p5-0 w150 tac" 
			(click)="filterSpellSchool('Illusion')">Illusion</button>
	</div>
	
	<div class="p5-0">
		<button class="p5-0 w150 tac" 
			(click)="filterSpellSchool('Necromancy')">Necromancy</button>
		<button class="p5-0 w150 tac" 
			(click)="filterSpellSchool('Transmutation')">Transmutation</button>
		<button class="p5-0 w150 tac" 
			(click)="filterSpellSchool('Universal')">Universal</button>
	</div>
</div>
<div *ng-for="#spell of spells;#i = index" [class.pt30]="i !== 0">
	<h5 class="ttc">{{ spell.name }}</h5>
	<label class="w125">Level:</label> {{spell.level}}
	<br>
	<label class="w125">School:</label> {{spell.school}}
	<br>
	<label class="w125">Range:</label> {{spell.range}}
	<br>
	<label class="w125">Duration:</label> {{spell.duration}}
	<br>
	<label class="w125">Components:</label> {{spell.components}}
	<br>
	<label class="w125">Casting Time:</label> {{spell.castingTime}}
	<br>
	<label class="w125">Description:</label>
	<br>
	{{spell.description}}
	<br>
	<button (click)="removeSpell($event, spell);">-</button>
</div>